<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  
    <nav class="nav">
      <div class="container">
        <h1 class=""><a href="/"><span>ATN Toy Center</span></a></h1>
        <ul>
          <li><a href="/product">Product</a></li>
          <li><a href="/supplier">Supplier</a></li>
          <li><a href="/category">Category</a></li> </a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>
    
    <style>
            html,body{
                height:100%;
            }
    </style>
 
    <script src="script.js"></script>
  </head>


    <body class="">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div  class="">
                {{{body}}}
                
                </div>
            </div>
        </div>
    </body>

    <footer>
      <br></br>
      <div class="text-center" >© 2022 ATN SHOP</div>
    </footer>
    
</html>